@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
@theme{
    --color-primary:#ffffff;
    --color-secondary:#0D7A5F;
    --color-tertiary:#000000;
    --color-backup:hsl(348 70% 30%);
    
}
@keyframes bounce-subtle {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}
.animate-bounce-subtle {
  animation: bounce-subtle 3s ease-in-out infinite;
}
html, body, #root {
  height: 100%;
  margin: 0;
}